.content-section {
  display: flex;
  flex-direction: column;
  margin: 10em 0 0 0;
  align-items: center;
}


.content-card{
    width: 55%;
}

.content-card > img {
    height: 400px;
}

.content-card{
    display: flex;
    flex-direction: row;
    gap: 1em;
}